{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6.11.5"
        }
      }
    ]
  ],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ]
  ]
}
